<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static/head.css">
    <script src="https://kit.fontawesome.com/6fad3a32fa.js" crossorigin="anonymous"></script>

</head>
<style>
    

</style>
<body>
    <nav id="navbar">
        <div id='bar'>
            <i class="fa fa-bars"></i>
        </div>
        <div>Brand Name</div>
        <div>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
    <header id="header">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente dignissimos soluta sit repellendus accusamus in magnam ab omnis minima, enim molestias molestiae, reiciendis cumque! Laboriosam.</p>
    </header>
</body>
</html>