<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static/head.css">
    <link rel="stylesheet" href="../static/course.css">
    <script src="https://kit.fontawesome.com/6fad3a32fa.js" crossorigin="anonymous"></script>

</head>
<style>
    

</style>
<body>
    <nav id="navbar">
        <div id='bar' class="dropdown">
            <i class="fa fa-bars"></i>
            <div class="dropdown-content">
                <p><a href="#">Home</a></p>
                <p><a href="#">About</a></p>
                <p><a href="#">Log Out</a></p>
            </div>
        </div>
        <div>Brand Name</div>
        <div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </div>
    </nav>
    <header id="header">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente dignissimos soluta sit repellendus accusamus in magnam ab omnis minima, enim molestias molestiae, reiciendis cumque! Laboriosam.</p>
    </header>
    <h1 class="title">My Courses</h1>
    <section id="container">
        <section class="courses">
            <h1>Course Name</h1>
            <p>Faculty:</p>
            <a href="#">Visit Course</a>
            <a href="#">Join Meet</a>
        </section>
        <section class="courses">
            <h1>Course Name</h1>
            <p>Faculty:</p>
            <a href="#">Visit Course</a>
            <a href="#">Join Meet</a>
        </section>
        <section class="courses">
            <h1>Course Name</h1>
            <p>Faculty:</p>
            <a href="#">Visit Course</a>
            <a href="#">Join Meet</a>
        </section>
        <section class="courses">
            <h1>Course Name</h1>
            <p>Faculty:</p>
            <a href="#">Visit Course</a>
            <a href="#">Join Meet</a>
        </section>
        <section class="courses">
            <h1>Course Name</h1>
            <p>Faculty:</p>
            <a href="#">Visit Course</a>
            <a href="#">Join Meet</a>
        </section>
        <section class="courses">
            <h1>Course Name</h1>
            <p>Faculty:</p>
            <a href="#">Visit Course</a>
            <a href="#">Join Meet</a>
        </section>
        
        
    </section>
</body>
</html>